---
const pageTitle = 'About Me';
---

<html lang="en">
	<head>
	  <meta charset="utf-8" />
	  <link rel="icon" type ="image/svg+xml" href="/favicon.ico" />
	  <meta name="viewport" content="width=device-width" />
	  <meta name="generator" content = {Astro.generator} >
	  <title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>

        <h1>{pageTitle}</h1>

      <p>I am learning how to build a blog site by using Astro.</p>
      <p>I first heard about Astro while listening to my favorie podcast CodeNewbie.</p>
      <p>CodeNewbie is my favorite podcast because it is easy to digest and what I enjoy most is learning from the vast experiences from other developers within the industry.</p>
	</body>
  </html>
  