---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Deeweb by deesclouds!";
const siteTitle = "DeeWeb Blog";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <Greeting client:load messages={["Nice to see you", "What's new", "How's it going", "Hi There", "Hi", "Long time, no see", "Good to see you here", "Greetings", "Look what the cat dragged in!", "Sup", "Welcome", "Look who it is", "Howdy", "Hey, boo", "What's happening", "Nice to see you again"]} />
      <h2>Welcome to my personal blog site.</h2>
    </BaseLayout>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
