---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Homepage";
const siteTitle = "DeeWeb";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <h2>Blog Subtitle</h2>
    </BaseLayout>
  </body>
</html>
