---
import Social from "../components/Social.astro";
---

<footer>
  <p>
    Follow me on my socials as I share my creations and things that I'm learning
    everyday!
  </p>
  <Social platform="twitter" username="deesclouds" />
  <Social platform="github" username="deesclouds" />
  <Social platform="linkedin" username="/in/deesclouds" />
</footer>
